*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
}

.container-isi{
    background-color: rgb(59, 48, 48);
    height: 60px;
}

.h2-isi{
    padding-top: 20px;
    color: white;
}

.a-isi{
    color: white;
    text-decoration: none;
}

.lvl{
    color: white;
    background-color: black;
    text-align: center;
}

.container-quiz{
    color: white;
    background-color: black;
    padding: 150px;
    text-align: left;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .container-quiz {
    padding: 10px; /* Lebar teks adalah 100% dari lebar layar pada perangkat Android */
  }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

.meng{
    margin: 5px;
    margin-right: 86%;
    padding: 10px;
    background:#2C97DF;
    color:white;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:5px solid #2A80B9;
    padding:10px 20px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:22px;
}

@media only screen and (max-width: 767px) {
  .meng {
    width: 39%; /* Lebar teks adalah 100% dari lebar layar pada perangkat Android */
  }
}

.soal{
  padding-bottom: 20px;
}

.jab{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.p{
    color: black;
    padding-bottom: 250px;
}

.k{
    padding-top: 200px;
    text-decoration: none;
    color: black;
}

.f1{
  padding-bottom: 10px;
}

.fa1{
  width: 100px;
}

.fa2{
  width: 50px;
}